{% if resume.certificates.size > 0 %}
<section>
    <div class="npb">
        <h2 id="certificates" class="h3 hr-bottom">
            Certificates / Training
            <span class="symbol {{ icons.certificates | default:'icon-book' }}"></span>
        </h2>
        {% for cert in resume.certificates %}
        <section>
            <header class="{% unless forloop.first %}mt2{% endunless %}">
                {% if cert.startDate.size > 0 %}
                <span class="faded">{% include components/from-to.html from=cert.startDate to=cert.endDate
                    format=from_to_format %}</span>
                {% endif %}
                <h3 class="h4 faded">
                    {% capture organization %}{% include components/link.html title=cert.organization href=cert.url
                    span_class="bc" %}{%
                    endcapture %}
                    {% capture name %}<span class="bc"> {{ cert.name }}</span>{% endcapture %}
                    <span>{{name}} by {{organization}}</span>
                </h3>
            </header>

            {% include components/message.html class="note" text=cert.summary alt="" %}
        </section>
        {% if forloop.first %}
    </div>{% endif %}
    {% endfor %}
</section>
{% endif %}