{% if resume.education.size > 0 %}
<section>
  <div class="npb">
    <h2 id="education" class="h3 hr-bottom">
      {{ strings.resume.education | default:"Education" }}
      <span class="symbol {{ icons.education | default:'icon-library' }}"></span>
    </h2>
    {% for edu in resume.education %}
    <section x-data="{open:false}" style="margin-bottom: 1em;">
      <header class="{% unless forloop.first %}mt2{% endunless %}">
        {% if edu.startDate.size > 0 %}
        <p class="faded" style="margin-bottom: 0.5em;">
          {% assign todayYear = 'now' | date: "%Y" %}
          {% assign startYear = edu.startDate | date: "%Y" %}
          {% assign endYear = edu.endDate | date: "%Y" | default: todayYear %}
          {% assign diff = endYear | minus: startYear %}
          {% assign unit = "years" %}
          {% if diff == 0 %}
          {% assign todayMonth = 'now' | date: "%m" %}
          {% assign startMonth = edu.startDate | date: "%m" %}
          {% assign endMonth = edu.endDate | date: "%m" | default: todayMonth %}
          {% assign diff = endMonth | minus: startMonth %}
          {% assign unit = "month(s)" %}
          {% endif %}
          {% include components/from-to.html from=edu.startDate to=edu.endDate format=from_to_format %}<i
            class="faded"><span class="icon-history"></span> {{diff}} {{unit}}</i>
        </p>
        {% endif %}
        <h3 class="h4 faded" style="margin-bottom: 0.5em;">
          <button class="button-color" @click="open=!open">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg button-text-color" viewBox="0 0 16 16">
              <path x-show="!open" fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
              <path x-show="open" fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
            </svg>
          </button>
          {% capture study_type %}<span class="bc">{{ edu.studyType }}</span>{% endcapture %} 
          {% capture area %}<span class="bc"> {{ edu.area }}</span>{% endcapture %} 
          {% capture institution %}<span class="bc" {% if edu.endDate.size> 0 %}property="name"{% endif %}><a href="{{edu.url}}">{{ edu.institution }}</a> </span>{% endcapture %} 
          {% capture gpa_us %}<span class="bc">{{ edu.gpa_us }}</span>{% endcapture %}
          {% capture gpa_de %}<span class="bc">{{ edu.gpa_de }}</span>{% endcapture %}
          <span>
            {{study_type}} in {{area}} from {{institution}} with GPA of {{gpa_us}} (de: {{gpa_de}})
          </span>
        </h3>
      </header>

      <div x-show="open" style="margin-left: 1em;">
        {% if edu.thesis.size > 0 %}
        <h5 style="margin-bottom: 0.3em;">Thesis Topics:</h5>
        <ul style="margin-bottom: 0.5em;">
          {% for topic in edu.thesis %}
          <li>{{ topic }}</li>
          {% endfor %}
        </ul>
        {% endif %}

        {% if edu.projectThesis.size > 0 %}
        <h5 style="margin-bottom: 0.3em;">Project Thesis:</h5>
        <div class="note" style="margin-bottom: 0.5em;">
          <ul>
            {% for project in edu.projectThesis %}
            <li>{{ project }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% if edu.courses.size > 0 %}
        <h5 class="sr-only">{{ strings.resume.courses | default:"Courses" }}</h5>
        <ul style="margin-bottom: 0.5em;">
          {% for course in edu.courses %}
          <li>{{ course }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </section>
    {% if forloop.first %}
  </div>
  {% endif %} {% endfor %}
</section>
{% endif %}
