---
layout: base
---
{% assign course = page %}

<article id="project" class="page mb6" role="article" {% unless nsd %}vocab="http://schema.org/" typeof="CreativeWork"
    resource="#project" {% endunless %}>
    <header>
        <h1 class="page-title" property="name">{{ course.title }}</h1>
        {% assign screenshot = course.screenshot | default:course.image %}
        <div class="img-wrapper lead aspect-ratio sixteen-nine {% unless screenshot %}fallback-img{% endunless %}">
            {% if screenshot %}
            {% include_cached components/hy-img.html
            img=screenshot
            sizes="(min-width: 90em) 48rem, (min-width: 54em) 42rem, (min-width: 42em) 38rem, 100vw"
            alt=course.title
            property="image"
            width=864
            height=486
            %}
            {% endif %}
        </div>
    </header>
</article>

{{content}}

<style>
    .packages {
        display: flex;
        flex-direction: row;
        gap: 1em;
    }

    @media only screen and (max-width: 800px) {
        .packages {
            flex-wrap: wrap;
        }
    }

    .package {
        padding: 1em;
        flex-grow: 1;
    }

    .package>h3,
    h4 {
        margin-top: 0;
        padding: 0;
    }
</style>

<h2 style="margin-bottom: 1em;">Packages</h2>

<div class="packages">
    {% for package in page.packages %}
    <div class="package project-card">
        <h4 style="font-size: 1.5em;">{{package.price}}</h4>
        <h3 style="font-size: 2em;">{{package.name}}</h3>
        <p>Includes:</p>
        <ul>
            {% for item in package.items %}
            <li>{{item}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>

<br>
<br>

<article class="page mb6" role="article">
    <h2 class="page-title">Enroll now</h2>
    <p class="lead">You can start a conversation by submitting the form below.<br>Sie können eine Nachricht senden,
        indem Sie das nachstehende Formular ausfüllen.</p>
    <form action="https://formsubmit.co/808e81167cb335f819d74822827aa1c2" class="validate message" method="POST"
        name="Contact Me">
        <input type="hidden" name="contact_form" value="contact_form" />
        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="First Name - Vorname" name="first_name"
                        required />
                    <p class="help-block text-danger"></p>
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Last Name - Nachname" name="last_name"
                        required />
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <input type="email" class="form-control" placeholder="E-Mail Address - E-Mail Adresse"
                        name="email_adress" required />
                    <p class="help-block text-danger"></p>
                </div>
                <div class="col">
                    <input type="text" name="_honey" style="display:none">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Course" name="_subject" required
                    value="Course: {{page.title}}" />
                <p class="help-block text-danger"></p>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group floating-label-form-group controls">
                <textarea rows="10" class="form-control" placeholder="Anything special you would like?"
                    name="message_text" required></textarea>
                <p class="help-block text-danger"></p>
            </div>
        </div>
        <div id="success"></div>
        <div class="form-group">
            <input type="hidden" name="_captcha" value="true">
            <input type="hidden" name="_template" value="table">
            <input type="hidden" name="_blacklist"
                value="cash, income, geld, einkommen, free, kostenlos, test, confidential, spam, scam, junk, deal, viagra, password, costs, urgent, bulk">
            <button type="submit" class="btn btn-primary" id="sendMessageButton">
                Submit
            </button>
            <input type="hidden" name="_next"
                value="https://jakobgabriel.github.io/blog-resume-jakob-gabriel/thank-you">
        </div>
    </form>
</article>

<!-- {% include components/dingbat.html %} -->
{% include body/comments.html %}